
name: Java CI with Maven from github

on:
  push:
    branches:  ["ci-demo_noTest_yml"]
  pull_request:
    branches: ["ci-demo_noTest_yml"]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  Test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: mvn -B test   # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    